.button-section {
    display: flex;
    margin: 2px 0 2px 0;
    width: 15%;
    justify-content: end;
}

.button-light {
    color: black;
}

.button-dark {
    color: aliceblue;   
}

button {
    padding: 0px 5px 0 5px;
    font-weight: bold;
    margin: 0 2px 0 2px;  
    border: none;
    background: none;
}