.updateInfoFormWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.updateInfoForm{
    height: fit-content;
    width: min(50%, 400px);
    border: 2px solid whitesmoke;
    align-self: center;
    border-radius: 30px;
}

.update-form-button-section {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: 95%;
   justify-self: center;
   margin-top: 20px;
   margin-bottom: 10px;
}